<!DOCTYPE html>
<html lang="pl">
  <head>
    <meta charset="utf-8">
    <title>Faktura</title>
    <link rel="stylesheet" href="../../template_files/style.css" type="text/css"/>
  </head>
  <body>
    <header class="clearfix">
      <div id="top_of_page">
        <img src="../../template_files/logo.png">
        <div id="payment_details">
        <div><span>Data i miejsce wystawienia: {{payment.date}}, {{payment.city}}</span></div>
        <div><span>Nr rachunku bankowego: </span>{{payment.bank_account}}</div>
        <div><span>Bank: {{payment.bank_name}}</span></div>
        <div><span>Płatność: </span>{{payment.type}}</div>
        <div><span>Termin płatności: </span>{{payment.date_of_payment}}</div>
        </div>
      </div>

      <h1>Faktura VAT numer {{title}}</h1>

      <div id="seller" class="clearfix">
        <div><strong>Sprzedawca:</strong></div>
        <div>{{seller.name}}</div>
        <div>{{seller.street}}</div>
        <div>{{seller.city}}</div>
        <div>NIP: {{seller.taxpayer_id_number}}</div>
      </div>
      <div id="buyer">
        <div><strong>Nabywca:</strong></div>
        <div>{{buyer.name}}</div>
        <div>{{buyer.street}}</div>
        <div>{{buyer.city}}</div>
        <div>NIP: {{buyer.taxpayer_id_number}}</div>
      </div>
    </header>


    <main>
      <table class="invoice_details_table">
        <thead>
          <tr>
            <th class="ord_num">L.p.</th>
            <th class="description">Nazwa towaru lub usługi</th>
            <th class="quantity">Ilość</th>
            <th class="price_netto">Cena netto</th>
            <th class="total_netto">Wartość netto</th>
            <th class="tax_percent">VAT %</th>
            <th class="tax_amount">Wartość VAT</th>
            <th class="total">Wartość brutto</th>
          </tr>
        </thead>
        <tbody>
        {%- if long_template_version -%}
          {% for service in services %}
          <tr>
            <td class="ord_num">{{service.ordinal_number}}.</td>
            <td class="description">{{service.description}}</td>
            <td class="quantity"> {{service.quantity}}</td>
            <td class="price_net">{{'%0.2f' % service.price_net }}</td>
            <td class="total_net">{{'%0.2f' % service.service_net}}</td>
            <td class="tax_percent">{{service.tax_percent}}%</td>
            <td class="total"> </td>
          </tr>
          {% endfor %}
        </tbody>
        <tfoot>

           {% for tax_percent, net_amount, tax_amount, gross_amount in calculated_services %}
        <tr style="margin-top: 5px;">
           <td></td>
           <td></td>
           <td></td>
           <td>{% if loop.index == 1 %} W tym: {% endif %}</td>
           <td>{{'%0.2f' % net_amount}}</td>
           <td>{{tax_percent}}%</td>
           <td>{{tax_amount}}</td>
           <td>{{gross_amount}}</td>

        </tr>
          {% endfor%}
          <tr style="margin-top: 5px;">
           <td></td>
           <td></td>
           <td></td>
           <td></td>
           <td></td>
           <td></td>
           <td><strong>Razem: </strong></td>
           <td>{{total_gross}}</td>
         </tr>
        </tfoot>
        {% else %}
                  {% for service in services %}
          <tr>
            <td class="ord_num">{{service.ordinal_number}}</td>
            <td class="description">{{service.description}}</td>
            <td class="quantity"> {{service.quantity}}</td>
            <td class="price_net">{{'%0.2f' % service.price_net }}</td>
            <td class="total_net">{{'%0.2f' % service.service_net}}</td>
            <td class="tax_percent">{{service.tax_percent}}%</td>
            <td class="total_tax">{{calculated_services[0].tax_amount}}</td>
            <td class="total">{{total_gross}}</td>
          </tr>
          {% endfor %}
        <tfoot>
         <tr>
          <td colspan="7" style="margin-top: 5px; text-align:right;"><strong>Razem: </strong></td>
          <td>{{total_gross}}</td>
         </tr>
        </tfoot>
        {% endif %}
      </table>
      <table class="invoice_summary_table">
        <tr>
          <th class="invoice_summary_th"><strong>Do zapłaty: </strong></th>
          <th class="invoice_summary_th">{{total_gross}} PLN</th>
        </tr>
        <tr>
          <td class="invoice_summary_td"></td>
          <td class="invoice_summary_td">Słownie: {{amount_in_words}}.</td>
        </tr>
      </table>
    </main>
    {% if signature.with_signature %}
      <div class="signature">{{signature.signature_text}}</div>
    {% else %}
    <footer>
      Faktura wygenerowana elektronicznie - nie wymaga podpisu.
    </footer>
    {% endif %}
  </body>
</html>