.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

html {
  padding:0;
  margin:0;
  height:100%;
}

body {
  position: relative;
  width: 21cm;  
  height: 29.7cm; 
  margin: 0 auto; 
  color: #001028;
  background: #FFFFFF;
  font-size: 12px;
}

header {
  padding: 10px 0;
  margin-bottom: 30px;
}

#top_of_page {
  text-align: left;
  margin-bottom: 10px;
}

#top_of_page img {
  width: 25%;
  height: 50%;
}

h1 {
  border-bottom: 1px solid  #5D6975;
  color: #5D6975;
  font-size: 1.8em;
  line-height: 1.4em;
  font-weight: normal;
  text-align: center;
  margin: 20px 0 20px 0;
}

#seller {
  margin-top: 15px;
  text-align: right;
  width: 52px;
  display: inline-block;
  white-space: nowrap;
}

#buyer {
  margin-top: 15px;
  float: right;
  text-align: left;
  white-space: nowrap;
}

#payment_details {
  padding: 15px;
  display: inline-block;
  float: right;
}

.invoice_details_table {
  margin-top: 7%;
  text-align: center;
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
}
.invoice_details_table th {
  color: #5D6975;
  border-bottom: 1px solid #C1CED9;
  white-space: nowrap;
  font-weight: normal;
}
.invoice_details_table td {
  padding: 5px;
}
.invoice_details_table .description {
  padding: 0;
}

.invoice_summary_table {
  margin-top: 5%;
  text-align: left;
  width: 100%;
}

.invoice_summary_td {
  text-align: left;
}
.invoice_summary_table th {
  text-align: left;
  white-space: nowrap;
  font-weight: normal;
}
.invoice_summary_table td {
  text-align: left;
  white-space: nowrap;
  font-weight: normal;
}

.signature {
  margin-top: 120px;
  text-align: right;
  font-weight: bold;
}

table .overall_amount {
  text-align: right;
}

table .ord_num {
  text-align:center;
}

table .description {
  text-align: left;
}

footer {
  color: #5D6975;
  width: 100%;
  height: 30px;
  position: fixed;
  padding-top: 10px;
  bottom: 0;
  left: 0;
  right: 0;
  border-top: 3px solid #C1CED9;
  text-align: center;
}
